<form #form="ngForm" autocomplete="off" *ngIf="service.formData">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Order No</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            #
                        </div>
                    </div>
                    <input class="form-control" name="orderno" #orderno="ngModel" [(ngModel)]="service.formData.OrderNo" readonly>

                </div>
            </div>

            <div class="form-group">
                <label>Custombers</label>
                <select class="form-control" name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" >
                    <option value="">-select-</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label>Payment Methods</label>
                <select class="form-control" name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod">
                    <option value="">-select-</option>
                    <option value="case">Case</option>
                    <option value="cart">Cart</option>
                </select>
            </div>

            <div class="form-group">
                
                <label>Grand Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            $
                        </div>
                    </div>
                    <input class="form-control" name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" readonly>

                </div>

            </div>
        </div>
    </div>
    <!--Order Items-->
    <table class="table table-borderless table-dart">
        <thead class="thead-dart">
            <th>Food</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
                <a class="btn btn-sm btn-success text-white" (click)="AddEditOrdeName(null,service.formData.OrderID)">
                    <i class="fa fa-plus">Add Item</i>
                </a>
            </th>
        </thead>
        <tbody>
            <tr *ngIf="service.orderItems.length == 0">
                <td class="font-italic font-center" colspan="5">
                    No Food Item Selected for This Order. 
                </td>
            </tr>
            <!--<tr *ngForm="let item of service.orderItems;let i=index">-->
            <tr *ngFor="let item of service.orderItems;let i=index">
                    <td>{{item.ItemName}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Total}}</td>
                    <td>
                        <a class="btn btn-sm btn-info text-white" (click)="AddEditOrdeName(i,service.formData.OrderID)">
                            <i class="fa fa-pencil">Add Item</i>
                        </a>
                    </td>
            </tr>
        </tbody>
      
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database">Submit</i> </button>
    </div>
</form>